@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Poiret+One&family=Urbanist:wght@100;200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  font-size: 10px;
  background-color: #f8906d;
  color: #221a43;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  font-size: 3.4em;
}

main {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo {
  position: absolute;
  border: 1px solid #221a43;
  height: 360px;
  width: 360px;
  left: -1%;
  top: 3%;
  transform: rotate(-38deg);

  z-index: 1;
  display: flex;
  justify-content: center;
  border-radius: 200px;
  align-items: center;
}

.main-logo h2 {
  font-weight: lighter;
  font-family: 'Poiret One', cursive;
  font-size: 12em;
}

.main-slogan {
  z-index: 10;
  font-size: 9em;
  width: 45%;
  text-align: center;
  transform: rotate(355deg);
}

.main-slogan h3 {
  font-family: 'Libre Caslon Text', serif;
}

.main-image .landscape-img {
  position: absolute;
  left: 10%;
  top: 34%;
  width: 800px;
  height: 537px;
  background: url("./images/landscape/landscape2.png");
  background-position: center;
  /* transition: all 2s ease-in-out; */
}

.main-image .portrait-img {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 476px;
  height: 619px;
  background: url("./images/portrait/portrait2.png") no-repeat center;
  /* transition: all 5s ease; */
  background-position: center;
}

.main-image img {
  max-width: 100%;
  height: auto;
}

.menu-upper-home ul, .menu-down-home ul {
  display: flex;
  justify-content: space-between;
  padding: 18px 32px;
  list-style: none;
  text-decoration: none;
}

.upper-center {
  padding-left: 3.1em;
}

a {
  text-decoration: none;
  color: #221a43;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  letter-spacing: 1.6px;
}


.wrapper-menu {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2eeeb;
  width: 100%;
  padding: 3em 0 6em 0;
}

.wrapper-menu .price-menu {
  font-size: 2.5em;
  color: #f8906d;
  font-family: 'Urbanist', sans-serif;
}

.wrapper-menu .span-menu {
  font-size: 1.9em;
  padding: 2em 0 .3em 0;
  font-family: 'Urbanist', sans-serif;
}

.wrapper-menu .title-menu {
  font-size: 16em;
  font-family: 'Libre Caslon Text', serif;
}

.wrapper-menu .img-menu {
  height: 700px;
  width: 650px;
}

.menu {
  max-width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu ul {
  text-align: center;
}

.menu li {
  font-size: 2.5em;
  padding: 1em 0;
  font-family: 'Urbanist', sans-serif;
}

.menu .menu-section {
  color: #f8906d;
  font-size: 6.5em;
  padding: 1.1em 0;
  font-family: 'Libre Caslon Text', serif;
}

.wrapper-menu .menu-logo {
  position: fixed;
  top: 9.5%;
  transform: rotate(0deg);
  border-color: #f8906d;
}

.wrapper-menu .menu-logo h2 {
  color: #f8906d;
  font-family: 'Poiret One', cursive;
}

.wrapper-reservation {
  align-items: center;
  color: #f8906d;
  position: absolute;
  top: -50%;
  z-index: 100;
  background-color: #221a43;
  width: 100%;
  transition: top .8s ease-in-out;
}

.content-reservation {
  padding: 8em 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-reservation .title-reservation {
  font-size: 4rem;
  padding: 1rem;
  font-family: 'Libre Caslon Text', serif;
}

.content-reservation .describe-reservation {
  text-align: center;
  font-size: 1.2rem;
  width: 50%;
  font-family: 'Urbanist', sans-serif;
}

.close-reservation-btn {
  position: absolute;
  align-self: flex-end;
  top: 10%;
  background-color: transparent;
  color: #f8906d;
  font-size: 3.8rem;
  border: none;
  transition: transform .4s ease;
}

.close-reservation-btn:hover {
  cursor: pointer;
  transform: rotate(180deg);
}