* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  font-size: 10px;
  background-color: #f8906d;
  color: #221a43;
}

#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  font-size: 3.4em;
  border: 1px solid greenyellow;
}

main {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo {
  position: absolute;
  border: 1px solid #221a43;
  height: 360px;
  width: 360px;
  left: -1%;
  top: 3%;
  /* border-radius: 50%; */
  z-index: 1;
  display: flex;
  justify-content: center;
  border-radius: 200px;
  align-items: center;
}

.main-logo h2 {
  font-weight: lighter;
  font-size: 8em;
}

.main-slogan {
  z-index: 10;
  font-size: 8em;
  text-align: center;
}

.main-image .landscape-img {
  position: absolute;
  left: 10%;
  top: 34%;
  width: 800px;
  height: 537px;
  background: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
}

.main-image .portrait-img {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 476px;
  height: 619px;
  background: url("https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=780&q=80")
}

.main-image img {
  max-width: 100%;
  height: auto;
}

.menu-upper-home ul, .menu-down-home ul {
  display: flex;
  justify-content: space-between;
  padding: 18px 32px;
  list-style: none;
  text-decoration: none;

}

a {
  text-decoration: none;
  color: #221a43;
}


.wrapper-menu {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2eeeb;
  font-size: 1.9rem;
  width: 100%;
  border: 1px solid blue;
}

.wrapper-menu .img-menu {
  background: url('../baobab-degustacion-c.jpg') no-repeat center;
  height: 700px;
  width: 650px;
}

.menu {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}